# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environment (local only)
.venv

# ===============================
# Jupyter Notebooks
# ===============================
.ipynb_checkpoints/
*.nbconvert.ipynb

# ===============================
# VS Code
# ===============================
.vscode/
*.code-workspace
